<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar película: <%= movie.title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House" />
    </figure>
    <h1>Editar película: <%= movie.title %></h1>
    <form action="/movies/update/<%= movie.id %>?_method=PUT" method="POST">
      <div>
        <label for="title">Titulo</label
        ><input
          id="title"
          type="text"
          name="title"
          value="<%= movie.title %>"
        />
      </div>
      <div>
        <label for="genre_id">Género</label>
        <select name="genre_id" id="genre_id">
          <% for( let i = 0; i < genres.length; i++ ) { %>
          <option value="<%= genres[i].id %>"
            <%= movie.genre.id == genres[i].id ? "selected" : "" %> 
            ><%= genres[i].name %></option>
          <% } %>
        </select>
      </div>
      <div>
        <label for="rating">Rating</label
        ><input
          id="rating"
          type="number"
          name="rating"
          step="0.1"
          value="<%= movie.rating %>"
        />
      </div>
      <div>
        <label for="awards">Premios</label
        ><input
          id="awards"
          type="number"
          name="awards"
          value="<%= movie.awards %>"
        />
      </div>
      <div>
        <label for="length">Duración</label
        ><input
          id="length"
          type="number"
          name="length"
          value="<%= movie.length %>"
        />
      </div>
      <div>
        <label for="release_date">Fecha de estreno</label><input
        id="release_date" type="date" name="release_date" value="<%=
        dayjs(movie.release_date).format("YYYY-MM-DD") %>" />
      </div>

      <button type="submit">Guardar!</button>
    </form>
  </body>
</html>
